# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

*.dll
*.pdb
*.cache
*.exe
*.g.*

LegoCatalog.API.dll
LegoCatalog.API.exe
LegoCatalog.API.pdb
LegoCatalog.DotNet.API/LegoCatalog.API/bin/Debug/netcoreapp3.1/LegoCatalog.API.dll
LegoCatalog.DotNet.API/LegoCatalog.API/bin/Debug/netcoreapp3.1/LegoCatalog.API.deps.json
LegoCatalog.DotNet.API/LegoCatalog.API/bin/Debug/netcoreapp3.1/LegoCatalog.API.dll
LegoCatalog.DotNet.API/LegoCatalog.API/bin/Debug/netcoreapp3.1/LegoCatalog.API.exe
LegoCatalog.DotNet.API/LegoCatalog.API/bin/Debug/netcoreapp3.1/LegoCatalog.API.pdb
LegoCatalog.DotNet.API/LegoCatalog.API/obj/LegoCatalog.API.csproj.nuget.cache
LegoCatalog.DotNet.API/LegoCatalog.API/obj/LegoCatalog.API.csproj.nuget.dgspec.json
LegoCatalog.DotNet.API/LegoCatalog.API/obj/Debug/netcoreapp3.1/LegoCatalog.API.csprojAssemblyReference.cache
LegoCatalog.DotNet.API/LegoCatalog.API/obj/Debug/netcoreapp3.1/LegoCatalog.API.dll
LegoCatalog.DotNet.API/LegoCatalog.API/obj/Debug/netcoreapp3.1/LegoCatalog.API.exe
LegoCatalog.DotNet.API/LegoCatalog.API/obj/Debug/netcoreapp3.1/LegoCatalog.API.pdb
LegoCatalog.DotNet.API/LegoCatalog.API/obj/Debug/netcoreapp3.1/LegoCatalog.API.RazorTargetAssemblyInfo.cache
LegoCatalog.DotNet.API/LegoCatalog.Data/obj/Debug/netcoreapp3.1/LegoCatalog.Data.assets.cache
LegoCatalog.DotNet.API/LegoCatalog.Data/obj/Debug/netcoreapp3.1/LegoCatalog.Data.csprojAssemblyReference.cache
