<mat-toolbar  color="primary"  class="fixed-header">
  <mat-toolbar-row>
  <span><img  src="./assets/icons8-lego-head-48.png"  style="margin-top:6px; width:32px;"></span>
  <!-- <a  mat-button  routerLink="/home"  routerLinkActive="active">Home</a>
  <a  mat-button  routerLink="/part">Part</a> -->
  <a  mat-button  routerLink="/partlist">Part List</a>
  </mat-toolbar-row>
  </mat-toolbar>
  <!-- <a target="_blank" href="https://icons8.com/icons/set/lego-head">Lego Head icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
  <main>
  <router-outlet  style="margin-top: 80px;"></router-outlet>
  </main>

