<mat-card class="pagecontainer">
  <mat-card-title>Page List</mat-card-title>
  <div style="clear:both;"></div>
  <div>
    <mat-form-field class="" style="width: 20%; min-width:300px;">
      <mat-label>Part Id</mat-label>
      <input #txtItemName matInput placeholder="" (keyup)="search(txtItemName.value, txtPartName.value)" />
    </mat-form-field>
    <mat-form-field class="" style="width: 20%; min-width:300px;">
      <mat-label>Part Name</mat-label>
      <input #txtPartName matInput placeholder="" (keyup)="search(txtPartName.value)" />
    </mat-form-field>
  </div>
  <mat-card class="container" fxLayoutWrap fxlayoutAlign="" >
    <ul class="parts">
      <li *ngFor="let part of legoParts" class="lego-item">
          <div class="lego-item-detail">
            <span class="badge">Part: {{part.itemId}}</span>
            <table>
              <tr>
                <td class="image" ><img src='{{part.iconLink}}' /></td>
                <td class="discription" style="vertical-align: top;">
                  {{part.itemName}}</td>
              </tr>
            </table> 
          </div>
          <div class="clear-fix"></div>
      </li> 
    </ul>
    <div style="clear:both;"></div>
  </mat-card>


</mat-card>