<h2 mat-dialog-title>{{description}}</h2>

<mat-dialog-content [formGroup]="form">
  <div>
    <div style="float:left;">
      <mat-card-title> Part: {{ part.itemName }} </mat-card-title>
      <mat-card-subtitle>
        <label>Item ID: </label>{{ part.itemId }}
      </mat-card-subtitle>
    </div>
    <div style="clear:both;"></div>
    <div style="float:left;"><img src="{{ part.imageLink }}" class="fullImage" /></div>
    <div style="float:left; margin:0px 10px 10px 0px;">
      <mat-card>
        <div style="min-width:150px;">
          <mat-card-content>
            <div><label>Item Type: </label>{{ part.itemTypeName }}</div>
            <div><label>Item Type Id: </label>{{ part.itemTypeId }}</div>
            <div><label>Part Id: </label>{{ part.partId }}</div>
            <!-- <div><label>Category: </label>{{ part.categoryId }}</div> -->
            <div><label>Category Name: </label>{{ part.categoryName }}</div>
            <div><label>Weight: </label>{{ part.itemWeight }}</div>
            <div><label>Dimension X: </label>{{ part.itemDimensionX }}</div>
            <div><label>Dimension Y: </label>{{ part.itemDimensionY }}</div>
            <div><label>Dimension Z: </label>{{ part.itemDimensionZ }}</div>
          </mat-card-content>
        </div>
      </mat-card>
      <div style="clear:both;"></div>
    </div>
    <div style="float:left;margin-right:20px;">
      <mat-card>
        <div style="min-width:150px;">
          <mat-card-content>
            <div><label>Quantity: </label>{{ part.quantity }}</div>
            <div><label>Colors: </label>{{ part.colorCount }} </div>
            <div *ngIf="part.colorCount > 0">
              <div><label>Colors: </label></div>
              <div class="lego-item-detail">
                <table>
                  <tr *ngFor="let color of partColors">
                    <td class="" style="height:15px; width:15px; border:1px solid rgb(79, 90, 114);" style.background-color="#{{color.rgb}}" ></td>
                    <td class="" style="vertical-align: top;padding-left:6px;">{{color.type | slice : 0 : 4 }}</td>
                    <td class="" style="vertical-align: top;padding-left:6px;">{{color.color}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </mat-card-content>
        </div>
      </mat-card>
      <div style="clear:both;"></div>
    </div>
    <div style="clear:both;"></div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>